.containerAlmanac {
  max-width: 100%;
  height: 40vh;
}
.card {
  border: 1px solid green;
  width: 60%;
  height: 90%;
  border-radius: .5rem .5rem 0 0;
  overflow: hidden;
}
.infoCard {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dayString {
  font-size: 1.5rem;
}
.dayNumber {
  font-size: 10em;
  line-height: 8rem;
}