.containerAlmanac {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  border: 1px solid green;
  border-radius: .5rem;
  padding: .7rem;
  width: 100%;
  text-align: center;
}